<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnvDTE" version="8.0.2" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.0.26201" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Debugger.InteropA" version="9.0.21022" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Imaging" version="15.0.26201" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="15.8.36" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.10" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="15.0.26201" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.0.26201" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6071" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="10.0.30319" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="11.0.61030" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="12.0.30110" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50727" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30729" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50727" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading" version="15.0.240" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="15.8.168" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Utilities" version="15.0.26201" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Validation" version="15.0.82" targetFramework="net461" />
  <package id="Microsoft.VSSDK.BuildTools" version="15.5.100" targetFramework="net461" developmentDependency="true" />
  <package id="Mono.Cecil" version="0.10.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="NLog" version="4.7.2" targetFramework="net461" />
  <package id="SharpCompress" version="0.25.1" targetFramework="net461" />
  <package id="SSH.NET" version="2020.0.2" targetFramework="net461" />
  <package id="stdole" version="7.0.3302" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Diagnostics.Tracer" version="2.0.8" targetFramework="net461" />
  <package id="System.Management.Automation.dll" version="10.0.10586.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net461" />
  <package id="VSLangProj" version="7.0.3301" targetFramework="net461" />
  <package id="VSLangProj2" version="7.0.5001" targetFramework="net461" />
  <package id="VSSDK.DTE" version="7.0.4" targetFramework="net461" />
  <package id="VSSDK.GraphModel" version="11.0.4" targetFramework="net461" />
  <package id="VSSDK.IDE" version="7.0.4" targetFramework="net461" />
  <package id="VSSDK.IDE.10" version="10.0.4" targetFramework="net461" />
  <package id="VSSDK.IDE.11" version="11.0.4" targetFramework="net461" />
  <package id="VSSDK.IDE.8" version="8.0.4" targetFramework="net461" />
  <package id="VSSDK.IDE.9" version="9.0.4" targetFramework="net461" />
  <package id="VSSDK.OLE.Interop" version="7.0.4" targetFramework="net461" />
  <package id="VSSDK.Shell.11" version="11.0.4" targetFramework="net461" />
  <package id="VSSDK.Shell.Immutable.10" version="10.0.4" targetFramework="net461" />
  <package id="VSSDK.Shell.Immutable.11" version="11.0.4" targetFramework="net461" />
  <package id="VSSDK.Shell.Interop" version="7.0.4" targetFramework="net461" />
  <package id="VSSDK.Shell.Interop.10" version="10.0.4" targetFramework="net461" />
  <package id="VSSDK.Shell.Interop.11" version="11.0.4" targetFramework="net461" />
  <package id="VSSDK.Shell.Interop.8" version="8.0.4" targetFramework="net461" />
  <package id="VSSDK.Shell.Interop.9" version="9.0.4" targetFramework="net461" />
  <package id="VSSDK.TextManager.Interop" version="7.0.4" targetFramework="net461" />
  <package id="VSSDK.TextManager.Interop.8" version="8.0.4" targetFramework="net461" />
</packages>